body {
  padding: 20px;
}

h1 {
  border-bottom: 1px solid gray;
  margin-top: 0;
}

/* View: Phone list */
.phones {
  list-style: none;
}

.phones li {
  clear: both;
  height: 150px;
}

.thumb {
  float: left;
  height: 100px;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  width: 100px;
}

.phones .thumbnail {
  position: relative;
}

/* Thumbnail content */

.itemBoxContainer {
  overflow: hidden;
}

.itemBoxContainer a {
  height:100%;
  position: relative;
  z-index: 9;
}

.itembox {
  padding: 30px 0;
  position: relative;
}

.itembox .title {
  font-size: 22px;
  color: #222;
  text-align: left;
  margin-bottom: 10px;
}

.itembox .byline {
  color: #999;
  font-size: 0.9em;
}

.itembox .image {
  float: left;
  margin: 0 20px 20px 0;
  position: relative;
  z-index: 1;
}

.itembox .image {
  width: 150px;
  height: 150px;
}

@media (min-width: 768px) {
  .col-sm-4 {
    width: 100%;
  }
}

/* End thumbnail content */

.item-image {
  width: 140px;
  height: 140px;
}

.thumbnail .favorite {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 26px;
}

.favorite-on {
  background-image: url('/img/full_heart.png');
}

.favorite-off {
  background-image: url('/img/empty_heart.png');
}

favorites-modal {
  border: 5px solid #000;
}