<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <p>
        Search:
        <input ng-model="$ctrl.query" />
      </p>

      <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option ng-repeat="option in $ctrl.orderOptions" ng-model="$ctrl.orderProp">{{option}}</option>
        </select>
      </p>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="phones">
        <li dir-paginate="item in $ctrl.items | itemsPerPage: 5 | filter:$ctrl.query" class="thumbnail phone-list-item">
          <!--orderBy:$ctrl.orderProp-->
          <a href="#!/phones/{{item.id}}" class="thumb">
            <img ng-src="{{item.imageUrl}}" alt="{{item.title}}" />
          </a>
          <a href="#!/phones/{{item.id}}">{{item.title}}</a>
          <p>{{item.description}}</p>
          <p>{{item.price}}</p> {{item.favorite}}
          <span class="favorite" ng-class="item.favorite ? 'favorite-on' : 'favorite-off'" ng-click="$ctrl.toggle(item)"></span>
        </li>
      </ul>

    </div>

    <dir-pagination-controls></dir-pagination-controls>
  </div>

</div>
